<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <div class="col-4 offset-8 mb-4">
      <input [(ngModel)]="phrase" class="form-control" type="text" placeholder="Search">
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onSelect('id')">#</th>
          <th (click)="onSelect('name')">Name</th>
          <th (click)="onSelect('email')">Email</th>
          <th (click)="onSelect('address')">Address</th>
          <th (click)="onSelect('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:phrase:filterKey | sorter:columnKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>